@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/public/assets/photo-1464618663641-bbdd760ae84a.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    font-family: 'Arial';
}

.content {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family:'Courier New', Courier, monospace;
}

.card {
    background-color: rgba(240, 248, 255, 0.719);
}